<style>

</style>

<div id="code-menu">
    <ul>
        <li><a href="/code/all">Code Bin</a></li>
        <li><a href="/code/me">Your Bin</a></li>
        <li><a href="/code/save">Save</a></li>
        <li><a href="/code/settings">Editor Settings</a></li>
    </ul>
</div>