<style>
    .note-links {
        width: 500px;
        margin: 30px;
        background: #ddd;
    }
    .note-links li {
        list-style: none;
    }
    .note-links a {
        color: crimson;
        font-size: 2rem;
    }
</style>

<div class="page-title">
    <h1><%= title %></h1>
</div>

<div class="square-neo link-tray note-links">
    <ul>
        <li><a href="/your-desk/<%= user.id %>/notebooks">Notes</a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
    </ul>
</div>