<style>
    .note-links {
        width: 80%;
        min-width: 150px;
        margin: 15px;
        margin-top: 30px;
        background: rgba(221, 221, 221, 0.75);
        backdrop-filter: blur(4px);
        padding-left: 0;
    }
    .note-links ul {
        padding-inline-start: 0;
        display: inline-flex;
    }
    .note-links li {
        list-style: none;
        margin-top: 10px;
        min-width: 150px;
        margin-inline-start: 0;
        padding-left: 0;
    }
    .note-links a {
        color: crimson;
        font-size: 2rem;
        width: 150px;
        font-weight: bolder;
        text-shadow: 0 0 4px 2px #000;
    }

    .video-collections {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .rumble-video {
        max-width: 400px;
        border-radius: 8px;
        background: rgba(255, 255, 255, 0.3);
        backdrop-filter: blur(4px);
        box-shadow: inset 0 0 5px rgba(255, 0, 0, 0.3), 0 5px 6px #000;
        padding: 10px;
        margin: 10px;
    }
    .rumble-video video {
        max-width: 400px;
        border-radius: 8px;
        box-shadow: 0 0 10px #000;
    }

</style>

<script>!function(r,u,m,b,l,e){r._Rumble=b,r[b]||(r[b]=function(){(r[b]._=r[b]._||[]).push(arguments);if(r[b]._.length==1){l=u.createElement(m),e=u.getElementsByTagName(m)[0],l.async=1,l.src="https://rumble.com/embedJS/umbuqv"+(arguments[1].video?'.'+arguments[1].video:'')+"/?url="+encodeURIComponent(location.href)+"&args="+encodeURIComponent(JSON.stringify([].slice.apply(arguments))),e.parentNode.insertBefore(l,e)}})}(window, document, "script", "Rumble");</script>

<div class="page-title">
    <h1><%= title %></h1>
</div>

<div class="square-glass-neo link-tray note-links">
    <ul>
        <li><a href="/your-desk/notebooks">Notes</a></li>
        <li><a href="/your-desk/study/flashcards">Flashcards</a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
    </ul>
</div>

<div class="breakpoint">
    <hr>
</div>

<div class="video-collections">
    <div class="rumble-video" id="rumble_vfbznb"></div>
    <div class="rumble-video" id="rumble_ve4t1h"></div>

    <div class="rumble-video" id="rumble_vcx2gf"></div>
    <div class="rumble-video" id="rumble_ver1fb"></div>
</div>



<script>Rumble("play", {"video":"ve4t1h","div":"rumble_ve4t1h"});</script>

<script>Rumble("play", {"video":"vfbznb","div":"rumble_vfbznb"});</script>

<script>Rumble("play", {"video":"vcx2gf","div":"rumble_vcx2gf"});</script>

<script>Rumble("play", {"video":"ver1fb","div":"rumble_ver1fb"});</script>