body {
    font-family: 'Exo 2', sans-serif;
    padding: 0;
    margin: 0;
    background: #000;
    color: #fff;
    max-width: 100vw;
    overflow-x: hidden;
}

h1 {
    color: #1b212c;
}
/* #mainHeader */
#mainHeader {
    min-width: 100vw;
    max-width: 100vw;
    width: 100vw;
    height: 100px;
    min-height: 100px;
    max-height: 100px;
    background: rgba(0, 0, 0, 0.3);
    border-bottom: inset 5px red;
    display: inline-flex;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1.0);
    position: fixed;
    z-index: 99999;
    top: 0;
    left: 0;
}
.header-section {
    width: 33%;
    height: 100px;
}
.header-section img {
    max-height: 90px;
    margin: 5px;
}
.header-center {
    text-align: center;
}
.header-center h1 {
    color: #fff;
    line-height: 50px;

}
/* #mainMenu */
#mainMenu {
    width: 10vw;
    max-width: 10vw;
    min-width: 10vw;
    height: 100vh;
    background-image: linear-gradient(to bottom right, rgba(238, 238, 238, 0.3), rgba(255, 255, 255, 0.4), rgba(238, 238, 238, 0.3));
    backdrop-filter: blur(4px);
    position: fixed;
    border-right: inset 1px red;
    box-shadow: 0 0 10px #000;
    left: 0;
    top: 105px;
    bottom: 0;
}
#mainMenu li {
    list-style: none;
    height: 30px;
    margin-left: -25px;
}
#mainMenu a {
    color: rgba(255, 255, 255, 0.75);
    text-shadow: 0 0 4px red;
    text-decoration: none;
    font-size: 1.2rem;
}

/* Background Video */
#videoBackground {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    min-width: 100vw;
    min-height: 100vh;
    overflow: hidden;
    background: #000;
    z-index: -88;
}
#videoBackground video {
    min-width: 100vw;
    
    min-height: 100vh;
    max-height: 100vh;
}

.core-container {
    background: rgba(238, 238, 238, 0.315);
    position: fixed;
    top: 100px;
    left: 10vw;
    right: 0;
    z-index: 23423;
    overflow-x: hidden;
}
/* Main Container */
.container {
    /* background: #333; */
/*     background-image: url("https://4.bp.blogspot.com/-Px99__SAlNY/V0zUPjSoZhI/AAAAAAAAGMI/FmpAbDjhdXEoxRJIPjrVcBPsdxQx-_IGwCKgB/s1600/red-black-white-abstract-wallpaper.jpg");
    background-size: cover;
    backdrop-filter: blur(8px); */
    position: absolute;
    top: 0;
    left: 10vw;
    z-index: -1;
    width: 90vw;
    max-width: 100vw;
    overflow-x: hidden;
    height: 100vh;
    padding: 10px;
    padding-top: 150px;
    padding-bottom: 50px;

}
.filter-dark {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
}

.logout {
    background-image: linear-gradient(to bottom, #eee, #fff);
    border-radius: 8px;
    padding: 8px;
    position: absolute;
    bottom: 120px;
    width: 80%;
    margin-left: 5%;
    text-align: center;
}
.logout a {
    color: red;
}
.stay {
    padding: 0;
}


/* Pages */
.page-title {
    width: 100%;
    padding: 20px;
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(4px);
    border-bottom: groove 2px #fff;
    margin-left: 0;
    border-top-left-radius: 8px;
    box-shadow: inset 0 0 15px rgba(255, 255, 255, 0.25);
}
.page-title h1 {
    color: crimson;
    font-weight: bolder;
    font-size: 2rem;
}
.page-header {
    background-image: linear-gradient(to bottom, #eee, #fff);
    width: 80%;
    margin: 30px;
    border-radius: 12px;
    padding: 20px;
}
.page-header h1 {
    padding: 20px;
    margin-block-start: 0;
}
.page-header p {
    color: #333;
    font-size: 1.3rem;
    padding-left: 25px;
    font-weight: bold;
}

.header-title {
    display: block;
    border-bottom: groove 2px crimson;
    margin-top: 40px;
    margin-bottom: 20px;
}
.header-title h1 {
    color: #fff;
    padding: 15px;
}

/* Breakpoint */
.breakpoint {
    padding: 5px;
    width: 90%;
    margin-top: 30px;
    margin-bottom: 50px;
}

.breakpoint hr {
    border: outset 2px rgba(255, 255, 255, 0.75);
    border-radius: 50%;
    box-shadow: 0 0 8px 10px rgba(255, 0, 0, 0.25);
}

/* Link Tray */
.link-tray {
    margin-top: 40px;
    text-align: center;
    padding: 10px;
    font-size: 1.5rem;
}
.link-tray a {
    color: crimson;
    text-decoration: none;
    text-shadow: 0 0 2px rgba(255, 255, 255, 0.5);
    transition: ease-out 0.5s;
}
.link-tray a:hover {
    color: rgba(255, 255, 255, 0.75);
    transition: ease-in 0.3s;
}
/* Glassmorphism */
.glass {
    padding: 20px;
    background-image: linear-gradient(to bottom right, rgba(238, 238, 238, 0.3), rgba(255, 255, 255, 0.4), rgba(238, 238, 238, 0.3));
    border: 2px outset rgba(255, 255, 255, 0.5);
}
.frosted-glass {
    backdrop-filter: blur(4px);
}
/* Neomorphism */

.round-neo {
    border-radius: 50%;
    box-shadow: -5px -5px 6px #fff, -4px -4px 5px #ddd, 2px -3px 4px #ccc, -2px 3px 4px #ccc, 5px 5px 6px #bbb;
}
.round-glass-neo {
    border-radius: 50%;
    box-shadow: -5px -5px 6px rgba(255, 255, 255, 0.5), -4px -4px 5px rgba(221, 221, 221, 0.5), 2px -3px 4px rgba(204, 204, 204, 0.5), -2px 3px 4px rgba(204, 204, 204, 0.5), 5px 5px 6px rgba(187, 187, 187, 0.5);
    border: outset 2px rgba(255, 255, 255, 0.75);
}
.square-neo {
    border-radius: 12px;
    box-shadow: -5px -5px 6px #fff, -4px -4px 5px #ddd, 2px -3px 4px #ccc, -2px 3px 4px #ccc, 5px 5px 6px #bbb;
    
}
.square-glass-neo {
    border-radius: 12px;
    box-shadow: -5px -5px 6px rgba(255, 255, 255, 0.5), -4px -4px 5px rgba(221, 221, 221, 0.5), 2px -3px 4px rgba(204, 204, 204, 0.5), -2px 3px 4px rgba(204, 204, 204, 0.5), 5px 5px 6px rgba(187, 187, 187, 0.5);
    border: outset 2px rgba(255, 255, 255, 0.75);
}
.square-neo-inset {
    border-radius: 8px;
    box-shadow: inset -3px -3px 4px #fff, inset -2px -2px 3px #ddd, inset 2px -3px 2px #ccc, inset -2px 3px 2px #ccc, inset 3px 3px 2px #bbb;
    transition: ease 0.5s;
}
.square-neo-inset:hover {
    border-radius: 8px;
    box-shadow: -3px -3px 4px #fff, -2px -2px 3px #ddd, 2px -3px 2px #ccc, -2px 3px 2px #ccc, 3px 3px 2px #bbb;
    transition: ease 0.5s;

}